.provlegisto-card {
  padding: 0 24px;
  border-radius: 8px;

  box-shadow: var(--box-shadow-light);
}

[theme='light'] {
  .provlegisto-card {
    background-color: white;
  }
}

[theme='paper']{
  .provlegisto-card{
    border: 2px solid black;
  }
}