.button {
  all:unset;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 1em;

  &:hover {
    background-color: var(--hover-color);
  }

  &:active {
    background-color: var(--active-color);
  }
}