@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

* {
  user-select: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}


html[theme='dark'] {
  --primary-background: #16161e;
  --font-color: white;
  --hover-color: #323232;
  --active-color: #292929;
  /* TODO */
  --separator-color: rgba(5, 5, 5, 0.6);

  /* TODO */
  --box-shadow-light: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  /* TODO */
  --box-shadow-deep: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  * {
    color: var(--font-color)
  }
}

html[theme='light'] {
  --primary-background: #f8f8f8;
  --font-color: black;
  --hover-color: #e8e8e8;
  --active-color: #fff;
  --separator-color: rgba(5, 5, 5, 0.6);

  --box-shadow-color: var(--mauve-6);
  --box-shadow-light: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --box-shadow-deep: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  --scrollbar-background: var(--black-a6);
  --scrollbar-background-hover: var(--black-a8);
  --scrollbar-thumb: var(--mauve-10);
  

}

html[theme='paper'] {
  --primary-background: #f8f8f8;
  --font-color: black;
  --hover-color: #e8e8e8;
  --active-color: #fff;
  --separator-color: rgba(5, 5, 5, 0.6);

  --box-shadow-light: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --box-shadow-deep: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

body {
  background-color: var(--primary-background);
  overflow: hidden;
}